{{!< default}}

{{#post}}
    <div class="post columns is-multiline is-variable is-8">

        <div class="column is-three-fifths is-offset-one-fifth divider first-divider"><hr></div>

        {{!-- Post Section --}}
        <div class="column is-three-fifths is-offset-one-fifth is-paddingless-top">
            <main id="site-main" class="site-main outer">
                <div class="inner">

                    <article class="post-full content {{post_class}}">

                        <header class="post-header{{#if feature_image}} has-featured-image{{/if}}">
                            {{#if tags}}
                                <div class="post-tags">{{tags separator=""}}</div>
                            {{/if}}

                            <h1 class="post-title is-size-2 has-text-centered">{{title}}</h1>

                            {{#if custom_excerpt}}
                                <p class="custom-excerpt is-italic">{{custom_excerpt}}</p>
                            {{/if}}

                            <span class="byline-date has-text-muted">
                                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                            </span>

                            {{#if feature_image}}
                                <figure class="post-full-image">
                                    <img
                                            srcset="{{img_url feature_image size="s"}} 300w,
                                            {{img_url feature_image size="m"}} 600w,
                                            {{img_url feature_image size="l"}} 1000w,
                                            {{img_url feature_image size="xl"}} 2000w"
                                            sizes="(max-width: 800px) 400px,
                                            (max-width: 1170px) 1170px, 2000px"
                                            src="{{img_url feature_image size="xl"}}"
                                            alt="{{title}}"
                                    />
                                </figure>
                            {{/if}}
                        </header>

                        <div class="post-content">
                            {{content}}
                        </div>

                    </article>

                </div>
            </main>
        </div>
    </div>

{{/post}}
