{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}

<main id="site-main" class="site-main outer">
    <div class="inner posts">
        <div class="columns is-multiline is-variable is-8">

            <div class="column is-full divider first-divider"><hr></div>

            {{#tag}}
                <div class="column is-full">
                    <div class="author-info content">
                        <h1 class="author-name is-size-2">{{name}}</h1>
                        {{#if description}}
                            <p class="author-bio">{{description}}</p>
                        {{else}}
                            <p>{{plural ../pagination.total empty='No posts' singular='A collection of % post' plural='A collection of % posts'}}</p>
                        {{/if}}
                    </div>
                </div>

                {{#if feature_image}}
                    <style type="text/css">
                        body {
                            background-image: url({{img_url feature_image size='xl'}});
                        }
                    </style>
                {{/if}}
            {{/tag}}

            {{#foreach posts}}

                    {{> "post-card"}}

                {{#has number="4"}}
                    <div class="column is-full divider is-hidden-mobile"><hr></div>
                {{/has}}

            {{/foreach}}
        </div>
    </div>
</main>
